<div class="btn-container">
  <%= render 'shared/back-btn', path: clubs_path %>

  <% if policy(@club).edit? %>
    <div class="flex">
      <%= render 'shared/edit-btn', path: edit_club_path(@club) %>
      <% if policy(@club).destroy? %>
        <%= render 'shared/delete-btn', path: @club %>
      <% end %>
    </div>
  <% end %>
</div>

<%= render @club %>

<% if authenticated? %>
  <% if policy(@club).join? %>
    <%= button_to "Join this club", join_club_path(@club), method: :post, class: "green-btn" %>
  <% end %>
  <% if policy(@club).joined? %>
    <%= link_to "Meetups", club_meetups_path(@club), class: "btn"%>
  <% end %>
<% end %>
