<%= render @club %>
<% if authenticated? %>
  <% if policy(@club).join? %>
  <%= button_to "Join this club", join_club_path(@club), method: :post %>
  <% end %>
  <% if policy(@club).edit? %>
  <div>
    <%= link_to "Edit this club", edit_club_path(@club) %> |
    <%= button_to "Destroy this club", @club, method: :delete %>
  </div>
  <% end %>
  <%= link_to "Meetups", club_meetups_path(@club) %>
<% end %>
<%= link_to "Back to club", clubs_path %>
