<h1 class="title mt-10">Log in</h1>

<% if flash[:alert] %>
  <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded mb-4">
    <%= flash[:alert] %>
  </div>
<% end %>

<%= form_with url: session_path, class: "space-y-6 max-w-xl w-full" do |form| %>
  <div>
    <%= form.label :email_address, class: "input-key" %>
    <%= form.text_field :email_address, autofocus: true, autocomplete: "username", value: params[:email_address], class: "input-value" %>
  </div>

  <div>
    <%= form.label :password, class: "input-key" %>
    <%= form.password_field :password, autocomplete: "current-password", maxlength: 72, class: "input-value" %><br>
  </div>

  <div class="flex justify-center">
    <%= form.submit "Log in", class: "btn" %>
  </div>
<% end %>