<%=  form_with(model: [@club, @meetup], class: "space-y-6 max-w-xl w-full") do |form| %>
  <% if @meetup.errors.any? %>
    <div class="error-container">
      <strong class="font-bold">There were some problems:</strong>
      <ul class="error">
        <% @meetup.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, class: "input-key"%>
    <%= form.text_field :title, class: "input-value" %>
  </div>

  <div>
    <%= form.label :subject, class: "input-key" %>
    <%= form.textarea :subject, class: "input-value" %>
  </div>

  <div>
    <%= form.label :datetime, class: "input-key" %>
    <%= form.datetime_select :datetime, class: "input-value" %>
  </div>

  <div>
    <%= form.label :location, class: "input-key" %>
    <%= form.textarea :location, class: "input-value" %>
  </div>

  <div>
    <%= form.label :max_participants, class: "input-key" %>
    <%= form.number_field :max_participants, class: "input-value" %>
  </div>

  <div class="flex justify-center">
    <%= form.submit "Save", class: "btn" %>
  </div>
<% end %>
