<div class="btn-container justify-end">
  <div>
    <%= render 'shared/back-btn', path: @club %>
  </div>

  <div>
    <%= render 'shared/add-btn', path: new_club_meetup_path(@club) %>
  </div>
</div>

<% content_for :title, "Meetups" %>

<h1 class="title">Meetups for <%= @club.title %></h1>

<div id="meetup">
  <% @meetups.each do |meetup| %>
    <%= link_to club_meetup_path(@club, meetup) do %>
    <%= render partial: "meetups/meetup_short", locals: { meetup_short: meetup }  %>
    <% end %>
  <% end %>
</div>
