<% if authenticated? %>
  <div class="btn-container">
    <%= render 'shared/back-btn', path: club_meetups_path %>

    <% if policy(@meetup).edit? %>
      <div class="flex">
        <%= render 'shared/edit-btn', path: edit_club_meetup_path(@club, @meetup) %>
        <% if policy(@meetup).destroy? %>
          <%= render 'shared/delete-btn', path: [@club, @meetup] %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>

<%= render @meetup %>
<% if authenticated? %>
  <% if policy(@meetup).participate? %>
    <%= button_to "Participate in this meetup", participate_club_meetup_path(@club, @meetup), method: :post, class: "green-btn" %>
  <% end %>

  <% if policy(@meetup).edit? %>
    <h3 class="title-small">Participants</h3>

    <div id="meetup" class="flex flex-col gap-y-2 gap-x-2 items-center">
      <% @meetup.users.each do |user| %>
          <span><%= user.username %></span>
      <% end %>
    </div>

  <% end %>
<% end %>
