<h1 class="title mt-10">Register</h1>

<%= render "shared/form-errors", object: @user %>

<%= form_with model: @user, class: "space-y-6 max-w-xl w-full", url: registrations_path do |form| %>
  <div>
    <%= form.label :username, class: "input-key" %>
    <%= form.text_field :username, autofocus: true, autocomplete: "username", placeholder: "Enter your username" %>
  </div>

  <div>
    <%= form.label :email_address, class: "input-key" %>
    <%= form.text_field :email_address, autofocus: true, autocomplete: "email", class: "input-value" %>
  </div>

  <div>
    <%= form.label :name, class: "input-key" %>
    <%= form.text_field :name, autofocus: true, autocomplete: "fullname", class: "input-value" %>
  </div>

  <div>
    <%= form.label :password, class: "input-key" %>
    <%= form.password_field :password, class: "input-value" %>
  </div>

  <div>
    <%= form.label :password_confirmation, class: "input-key" %>
    <%= form.password_field :password_confirmation, class: "input-value" %>
  </div>

  <div class="flex justify-center">
    <%= form.submit "Register", class: "btn" %>
  </div>
<% end %>
