<div class="btn-container">
  <%= render 'shared/back-btn', path: clubs_path %>

  <div></div>
</div>

<h1 class="title mb-6">Users</h1>

<table class="min-w-full border border-gray-300 rounded-md overflow-hidden">
  <thead class="bg-gray-100 border-b border-gray-300">
  <tr>
    <th class="text-left py-3 px-4 font-semibold text-gray-700">Username</th>
    <th class="text-left py-3 px-4 font-semibold text-gray-700">E-Mail</th>
    <th class="text-left py-3 px-4 font-semibold text-gray-700">Role</th>
    <th class="text-left py-3 px-4 font-semibold text-gray-700">Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr class="border-b border-gray-200 hover:bg-gray-50">
      <td class="py-2 px-4"><%= user.username %></td>
      <td class="py-2 px-4"><%= user.email_address %></td>
      <td class="py-2 px-4 capitalize"><%= user.role %></td>
      <td class="py-2 px-4">
        <% if policy(user).edit? %>
          <%= link_to "Edit", edit_admin_user_path(user), class: "text-blue-600 hover:underline" %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>